@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@theme{
  --color-primary: #3484F0; /* Primary / Header / Button*/
  --color-secondary :#C4DBFA;
  --color-accent: #5661f1; /*Accent / Error / CTA */
  --color-light: #F7F7F7; /* Background / Cards */
  --color-cyan: #A8DADC; /* Secondary Bg / Borders / Cards */
  --color-deep: #525151; /* Text / Footer / Button hover */
  --color-gray: #E6E6E6;
  --color-yellow: #FCD462;
  --color-green: #10CA48;
  --color-red: #DA0303;
  --color-lightred:#FFE5E9;
  --font-openSans: "Open Sans", sans-serif;
  --animate-slideUp: slideUp ease 2s forwards 0s;
  @keyframes slideUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-40px);
      opacity:1;
    }
  }

}

@layer utilities{
  .clip-bg {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
